.button-style-agree {
	width: 95%;
	background: var(--agree-blue); 
	color: var(--clr-white);
	font-size: 16px;
    display: block;
    margin: 0 auto;
	padding: 14px 0;
	border: none;
	border-radius: 6px;
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    transition: background-color 0.3s ease;
	cursor: pointer;
}

.button-style-agree:hover {
    background-color: var(--main-bg-dark-blue);
}


.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

/* Hide default HTML checkbox */ 
.switch input { 
	opacity: 0; 
	width: 0; 
	height: 0; 
}

/* The slider */ 
.slider { 
	position: absolute; 
	cursor: pointer; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background-color: #ccc; 
	-webkit-transition: .4s; 
	transition: .4s; 
}

.slider:before {
	position: absolute; 
	content: ""; 
	height: 16px; 
	width: 16px; 
	left: 4px; 
	bottom: 4px; 
	background-color: var(--clr-white); 
	-webkit-transition: .4s; 
	transition: .4s; 
} 

input:checked + .slider { 
	background-color: var(--main-bg-blue); 
} 

input:focus + .slider { 
	box-shadow: 0 0 1px var(--main-bg-blue); 
} 

input:checked + .slider:before { 
	-webkit-transform: translateX(16px); 
	-ms-transform: translateX(16px); 
	transform: translateX(16px); 
} 

/* Rounded sliders */ 
.slider.round { 
	border-radius: 34px; 
} 

.slider.round:before { 
	border-radius: 50%; 
}