.collaborator-list {
    width: 95%;
    height: 60vh;
    /* background-color: red; */
    overflow: auto;
    margin: 20px auto;
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.collaborator-card {
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 .15rem .45rem rgba(58,59,69,.15);
}

.collaborator-actions {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.collaborator-card h3 {
    margin: 0 0 5px 0;
}

.collaborator-card p {
    margin: 0;
    color: var(--clr-dark-text);
}

.collaborator-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #34495e;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.collaborator-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.avatar-active {
	border: 3px solid #8cda8a; /* mismo verde que web */
}

.avatar-inactive {
	border: 3px solid #fbadad; /* mismo rojo que web */
	opacity: 0.9;
}