.info-box {
	background-color: var(--clr-bg-transparent-dark);
    color: var(--clr-white);
    height: 71vh;
	padding: 5px 10px;
	border-radius: 12px;
	margin-top: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
	flex-direction: column;
	overflow: hidden;
}

.info-box p {
    margin: 5px 0;
}
.shipping-seccion {
    flex: 0 0 26%;
}

.loads-section {
    flex: 1;
    border-top: 1px solid var(--clr-border);
    overflow: auto;
}

.load-card {
	background-color: var(--clr-white);
    color: var(--main-text-color);
	margin-top: 10px;
	padding: 10px 15px;
	border-radius: 10px;
}

.products-list ul {
	margin: 5px 0;
	padding-left: 20px;
}

.scan-btn {
    width: 48%;
	background-color: var(--clr-bg-transparent-dark);
	color: var(--clr-white);
    font-size: 14px;
    margin: 20px 1% 0;
	padding: 20px 16px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
    transition: all 0.2s ease;
}

.scan-btn:hover {
    background-color: var(--clr-bg-transparent-darker);
}



.check-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(34, 197, 94, 0.95);
	color: white;
	font-size: 1.8rem;
	padding: 20px 40px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
	0% { opacity: 0; transform: translate(-50%, -60%); }
	10% { opacity: 1; transform: translate(-50%, -50%); }
	90% { opacity: 1; }
	100% { opacity: 0; transform: translate(-50%, -40%); }
}